@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out forwards;
}

  .hover-scale {
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-scale:hover {
    transform: scale(1.05);
  }
  











  